<p>
	If you would like to contact me, please send me an email at <span id="email">me@lauradow.com</span></p> 
<p>
	You can also find me on github at <a href="http://www.github.com/ldow86">github.com/ldow86</a>
</p>
