<header>
	<h1 class="lauraDow"><%= link_to "Laura Dow", root_path %></h1>
	<hr>
	<nav>
		<ul class="headerlinks">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Work", work_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</header>
